<div class="modal-header">

  <h4 *ngIf="!users.id" class="modal-title">Реистрация пользователя</h4>
  <h4 *ngIf="users.id" class="modal-title">Редактирование пользователя</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          (click)="clear()">&times;
  </button>
</div>
<form name="regForm" role="form" novalidate [formGroup]="editForm">
  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label" for="login">Логин</label>
      <input type="text" class="form-control shadow-sm bg-white rounded" name="login" id="login"
             formControlName="login" autocomplete="off" placeholder="введите логин"/>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="pwd">Пароль</label>
      <input type="text" class="form-control shadow-sm bg-white rounded" name="pwd" id="pwd"
             formControlName="pwd" autocomplete="off" placeholder="введите пароль" required="{{!users.id}}" />
    </div>
    <div class="form-group">
      <label class="form-control-label" for="roles">Выберте роль</label>

      <ng-multiselect-dropdown  id="roles" formControlName="roles"
        [placeholder]="'Список ролей'"
        [data]="rolesList"
        [settings]="settings"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="lastName">Фамилия</label>
      <input type="text" class="form-control shadow-sm bg-white rounded" name="lastName" id="lastName"
             formControlName="lastName" autocomplete="off"/>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="firstName">Имя</label>
      <input type="text" class="form-control shadow-sm bg-white rounded" name="firstName" id="firstName"
             formControlName="firstName" autocomplete="off"/>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="middleName">Отчество</label>
      <input type="url" class="form-control shadow-sm bg-white rounded" name="middleName" id="middleName"
             formControlName="middleName" autocomplete="off"/>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group float-right shadow rounded">
      <button type="button" style="border-right-color: white"
              class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
        <span>Назад</span>
      </button>
      <button id="jhi-confirm-update-transportation" type="button" (click)="save()" style="border-left-color: white"
              [disabled]="editForm.invalid"
              class="btn btn-primary">
        <span>Сохранить</span>
      </button>
    </div>
  </div>
</form>
<app-error *ngIf="users && users.errorMessage" [errorMessage]="users.errorMessage"
           (closeAlert)="closeError()"></app-error>
