<nav class="navbar navbar-expand navbar-light bg-light " >
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">На главную<span class="sr-only">(current)</span></a>
      </li>

      <li *ngIf="authService.isAuth()" class="nav-item dropdown">
        <div class="btn-group" ngbDropdown role="group">
          <a  ngbDropdownToggle  class="nav-link dropdown-toggle" href="javascript:void(0)">Меню</a>
          <div class="dropdown-menu" ngbDropdownMenu>

            <a *appAuthority="['ADMIN', 'ROS_TOURISM']" ngbDropdownItem class="dropdown-item" routerLink="/statRos">Статистика ростуризм</a>
            <a *appAuthority="['ADMIN', 'RBN_SKILL']" ngbDropdownItem class="dropdown-item" routerLink="/statSkill">Статистика РБН Скилл 40/41</a>
<!--            <a *appAuthority="['ADMIN', 'RBN_SKILL41']" ngbDropdownItem class="dropdown-item" routerLink="/statSkill41">Статистика РБН Скилл 41</a>-->
            <div class="dropdown-divider"></div>
            <a *appAuthority="['ADMIN']"  ngbDropdownItem class="dropdown-item" routerLink="/usersList">Пользователи</a>
          </div>
        </div>
      </li>
      <li class="nav-item">

        <!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Выключенные ссылки</a>-->
      </li>
    </ul>
    <a  class="navbar-brand text-right" href="#"></a>
    <div class="form-inline my-2 my-lg-0">
      <button *ngIf="this.authService.isAuth()" class="btn btn-outline-danger my-2 my-sm-0" type="button" (click)="logout()">Выход</button>
      <button *ngIf="!this.authService.isAuth()"  class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="login()">Вход</button>
      <!--      <button *ngIf="!this.authService.isAuth()"  class="btn btn-outline-info my-2 my-sm-0" type="button" (click)="registry()">Регистрация</button>-->
    </div>
  </div>
<!--  <div class="collapse navbar-collapse" id="navbarText">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Features</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Pricing</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <span class="navbar-text">-->
<!--      Navbar text with an inline element-->
<!--    </span>-->
<!--  </div>-->
</nav>
