<div class="mat-elevation-z8">
  <div class="table-container">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="rowDate">
        <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Дата</th>
        <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.rowDate | date : "dd.MM.yyyy"}}</td>
        <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> Всего: </td>
      </ng-container>
      <!-- Id Column -->
      <ng-container matColumnDef="dayOfWeek">
        <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>ДН</th>
        <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.dayOfWeek}}</td>
        <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef>  </td>
      </ng-container>
      <!-- Id Column -->
      <ng-container matColumnDef="countAll">
        <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Получено звонков всего</th>
        <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.countAll}}</td>
        <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.countAll}} </td>
      </ng-container>
      <!-- Id Column -->
      <ng-container matColumnDef="cans">
        <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Обработано оператором</th>
        <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.cans}}</td>
        <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.cans}} </td>

      </ng-container>
      <!-- Id Column -->
      <ng-container matColumnDef="cabn">
        <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Потеряно после 5 с ожидания</th>
        <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.cabn}}</td>
        <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.cabn}} </td>
      </ng-container>
      <!-- Id Column -->
      <ng-container matColumnDef="sumTalkTime">
        <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Всего в разговоре</th>
        <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.sumTalkTime}}</td>
        <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.sumTalkTime}} </td>

      </ng-container>
      <!-- Id Column -->
      <ng-container matColumnDef="avgTalTime">
        <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Средняя длительность разговора</th>
        <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.avgTalTime}}</td>
        <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.avgTalTime.toFixed(4)}} </td>

      </ng-container>
      <!-- Id Column -->
      <ng-container matColumnDef="callToBank">
        <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Переведено в банк</th>
        <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.callToBank}}</td>
        <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.callToBank}} </td>
      </ng-container>
      <!-- Id Column -->
      <ng-container matColumnDef="sl">
        <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>SL</th>
        <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.sl}}</td>
        <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.sl}} </td>
      </ng-container>
      <!-- Id Column -->
      <ng-container matColumnDef="percABN">
        <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Процент потерянных</th>
        <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.percABN  + '%'}}</td>
        <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.percABN.toFixed(0) + '%'}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      <!--    <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row"></tr>-->
    </table>
    <mat-paginator #paginator  class="mat-paginator-sticky"
                   [length]="dataSource?.data.length"
                   [pageIndex]="0"
                   [pageSize]="dataSource?.data.length"
    >
    </mat-paginator>
  </div>
</div>
