<div class="row">
  <div class="col-1"></div>
  <div class="col-10 embed-responsive">
    <form name="filtrForm" class="form" role="form"
          [formGroup]="filterForm">
    <div class="row" style="margin-right: 31px!important; margin-inline-end: -20px!important;">

      <div   class="form-group form-group col-md-auto"
           style="margin-inline-end: -20px!important;">
        <label class="form-control-label"
               for="field_filterName">Выберете отчёт</label>
        <dd>
          <select class="form-control" id="field_filterName" name="filterName"
                  formControlName="filterName" >

            <option [ngValue]="report.value"
                    *ngFor="let report of reportNames">{{report.name}}</option>
          </select>
        </dd>
      </div>
      <div class="form-group form-group col-md-auto">
        <label class="form-control-label"
               for="field_dateStart">Дата с:</label>
        <dd>
          <input style="width: auto" id="field_dateStart" type="date"
                 class="form-control"
                 name="dateStart"
                 formControlName="dateStart" placeholder="DD-MM-YYYY"/>
        </dd>
      </div>
      <div class="form-group form-group col-md-auto">
        <label class="form-control-label"
               for="field_dateEnd">Дата по</label>
          <input style="width: auto" id="field_dateEnd" type="date"
                 class="form-control"
                 name="dateEnd"
                 formControlName="dateEnd" placeholder="DD-MM-YYYY"/>
      </div>

      <div class="form-group col-md-auto right">
        <label class="form-control-label"><br></label>
        <dd>
          <button type="button" [disabled]="filterForm.invalid"
                  class="btn btn-sm shadow btn-primary"  style="border-right-color: white" (click)="submitFilter()">
                                                       <span>
                                                       Применить фильтр
                                                        </span>
          </button>
          <button type="button"
                  class="btn btn-sm shadow btn-secondary"  style="border-left-color: white" (click)="clearFilter()">
            <span>Очистить фильтр</span>
          </button>
        </dd>
      </div>
    </div>
    </form>
<!--    <app-stat-view *ngIf="isVisibleView" [statList]="statList" [statRnb]="statRnb"-->
<!--                  ></app-stat-view>    -->
    <app-view-table *ngIf="isVisibleView" [dataSource]="dataSource" [total]="statRnb"
                  ></app-view-table>
  </div>
  <div class="col-1"></div>
</div>
