<div class="mat-elevation-z8">
  <div class="table-container">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="rowDate">
      <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Дата</th>
      <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.rowDate | date : "dd.MM.yyyy"}}</td>
      <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> Всего: </td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="dayOfWeek">
      <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>ДН</th>
      <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.dayOfWeek}}</td>
      <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef>  </td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="makeRt8">
      <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Получено и Обработано в Туле</th>
      <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.makeRt8}}</td>
      <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.makeRt8}} </td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="rtToOther">
      <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Переведено в ОНФ</th>
      <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.rtToOther}}</td>
      <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.rtToOther}} </td>

    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="returnRt11">
      <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Получено из ОНФ переводом</th>
      <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.returnRt11}}</td>
      <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.returnRt11}} </td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="returnRt05">
      <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Получено из ОНФ на первую линию</th>
      <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.returnRt05}}</td>
      <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.returnRt05}} </td>

    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="makeOther">
      <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Обработано всего в ОНФ без последующего перевода</th>
      <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.makeOther}}</td>
      <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.makeOther}} </td>

    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="makeTula">
      <th class="align-middle text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Обработано всего в Туле</th>
      <td class="align-middle text-center" mat-cell *matCellDef="let row">{{row.makeTula}}</td>
      <td class="align-middle text-center rs" mat-footer-cell *matFooterCellDef> {{total.makeTula}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
<!--    <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row"></tr>-->
  </table>
    <mat-paginator #paginator  class="mat-paginator-sticky"
                   [length]="dataSource?.data.length"
                   [pageIndex]="0"
                   [pageSize]="dataSource?.data.length"
    >
    </mat-paginator>
  </div>
</div>
