<div class="justify-content-center">
  <div class="row">
    <div class="col-12" style="padding: 10px">
      <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header align-middle shadow">
          <div class="float-left" style="padding-right: 10px">
            <h3><span>Пользователи</span></h3>
          </div>
          <div class="btn-group float-left rounded">
            <button class="btn btn-sm float-right btn-primary shadow rounded"  style="border-right-color: white" (click)="showFilter()">
              Отобразить фильтр
            </button>
            <button class="btn  btn-sm  float-right btn-danger shadow"  style="border-left-color: white" (click)="deleteFilters()">
              Очистить фильтры
            </button>
          </div>
          <div *appAuthority="['ADMIN']" class="btn-group float-right rounded">
            <button
              class="btn  btn-sm  btn-primary float-right jh-create-entity create-ticket"
              (click)="addNewUser()">
              <span>Добавить пользователя</span>
            </button>
          </div>
        </div>
        <div class="card-body shadow" style="overflow: scroll; width: 100%; padding: 0" >
          <table class="table table-hover ">
            <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Логин</th>
              <th scope="col">Фамилия</th>
              <th scope="col">Имя</th>
              <th scope="col">Отчество</th>
              <th scope="col">Роли</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of userList">
              <th  class="border border-top" scope="row">{{user.id}}</th>
              <td class="border border-top">{{user.login}}</td>
              <td class="border border-top">
                {{user.lastName}}
              </td>
              <td class="border "> {{user.firstName}}</td>
              <td class="border"> {{user.middleName}}</td>
              <td class="border border-top">
                <div *ngFor="let role of user.roles">
                  <span class="shadow {{role.name|roles}}"> {{role.name|rolesName}}</span>
                </div>
              </td>
              <td  class="border border-top text-center">
                <div class="btn-group">
                <button *ngIf="isVisible(user)"  class="btn float-right btn-sm btn-secondary shadow rounded"
                                                                            (click)="edit(user)">Редактировать</button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row justify-content-center">
            <span>{{(page - 1) * itemsPerPage + 1 + ' - ' + itemsPerPage * page}}</span>
          </div>
          <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
          </div>
        </div>
        <div>
        </div>

      </div>
    </div>
  </div>
</div>
