<div class="modal-header">
  <h4 class="modal-title">Введте URL  для регистрации в системе</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          (click)="clear()">&times;
  </button>
</div>
<form name="regForm" role="form" novalidate [formGroup]="regForm">
  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label" for="url">Введте URL  для регистрации в системе</label>
      <input type="url" class="form-control shadow-sm bg-white rounded" name="url" id="url"
             formControlName="url" autocomplete="off" placeholder="пример формата ввода: akalegenov.ru"/>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group float-right shadow rounded">
      <button type="button" style="border-right-color: white"
              class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
        <span >Назад</span>
      </button>
      <button id="jhi-confirm-update-transportation" type="button" (click)="registry()" style="border-left-color: white"
              [disabled]="regForm.invalid || isShowVisible"
              class="btn btn-primary">
        <span >Регистрация</span>
      </button>
    </div>
  </div>
</form>
<app-error *ngIf="users && users.errorMessage" [errorMessage]="users.errorMessage" (closeAlert)="closeError()"></app-error>
<app-show-registred-user *ngIf="isShowVisible" [newUser]="users" (eventEmitter)="login($event)"></app-show-registred-user>

